body {
  font-family: sans-serif;
  margin: 20px;
}

textarea {
  width: 100%;
  height: 150px;
  margin-top: 5px;
}

button {
  margin-top: 10px;
}

a {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}
