body {
  font-family: sans-serif;
  margin: 20px;
}

textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 5px;
}

img {
  max-width: 100%;
  margin-top: 10px;
}

button {
  margin: 5px 0;
}
